* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #e8e8e8;
    color: #181818;
    margin: 0;
    display: flex;
    font-weight: bold;
    overflow: auto;
}



.container {
    display: flex;
    background-color: #ddd;
    flex-basis: 100px;
    width: 700vh;
    font-size: 10px;
    position: fixed;
    padding: 100px;
    top: 600px;
}

.lenguage {
    font-size: 15px;
    position: relative;
    top: -60px;
    display: flex;
    gap: 10px;
}


.logo {
    font-size: 15;
    color: #1100ff;
    display: flex;
    gap: 3px;
    position: absolute;
    top: 50px;
    left: 100px;
}

.logo i {
    bottom: none;
    font-size: 20px;
}

.face {
    color: #1100ff;
    display: flex;
    margin: 10px;
    width: 100vh;
    justify-items: center;
    top: -50px;
    font-size: 45px;
    display: block;
    position: absolute;
    left: 45vh;

}


.face p {
    color: #000;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 20px;
}

.login {
    display: flex;
    margin: 200px;
    align-items: center;
    margin-right: 700px;
    font-size: 20px;
}

.login p.title {
    font-size: 30px;
    padding-left: 35px;
    margin-bottom: 200px;
    white-space: normal;
    display: flex;
    position: relative;
    top: 20px;


}

.login {
    background-color: white;
    display: block;
    padding: 40px;
    width: 66vh;
    font-size: 10px;
    border-radius: 20px;
    position: relative;
    top: -70px;
    left: 370px;
    padding-top: 6px;
}


.login input {
    margin: 15px;
    padding: 14px 16px;
    width: 350px;
    border-radius: 6px;
    font-size: 15px;
    position: relative;
    top: -19vh;
    left: center;
    display: block;
    outline: none;
    border-color: #bab6b6;

}

.login button.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 150px;
    font-size: 35px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1.0s, tranform 0.2s;
    position: relative;
    top: -135px;

}

.login button:hover.submit {
    background-color: #0056b3;

}

.login a {
    border: none;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    top: 62%;
    left: 35%;
}

.login a:hover {
    text-decoration: underline;
}

.login p.our {
    color: #000;
    position: absolute;
    top: 70%;
    left: 45%;
    font-size: 16px;

}

.login button.signup {
    background-color: #19ff04;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 35px;
    border-radius: 5px;
    position: absolute;
    top: 76%;
    left: 100px;

}


.footer span {
    font-size: 10px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    white-space: 100px;

}

text {
    text-align: center;
}